/*!
Theme Name: Kadence Child
Theme URI: https://www.kadencewp.com/kadence-theme/
Template: kadence
Author: Kadence WP
Author URI: https://www.kadencewp.com/
Description: A child theme for the Kadence Theme.
Version: 1.0.0
License: GNU General Public License v3.0 (or later)
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Text Domain: kadence-child
*/

/* Theme customization starts here
-------------------------------------------------------------- */
.site-header-row.site-header-row-center-column {
	align-items: center;
}
.site-header-section-center {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.site-header-section-right {
	flex-direction: column;
	align-items: flex-end;
}

.site-branding.branding-layout-vertical.site-title-top a.brand .site-title-wrap {
	display: none;
}

.button.header-button.button-size-small {
	font-size: 90%;
	padding: 0.3em 0;
}