/*!
Theme Name: Kadence Child
Theme URI: https://www.kadencewp.com/kadence-theme/
Template: kadence
Author: Kadence WP
Author URI: https://www.kadencewp.com/
Description: A child theme for the Kadence Theme.
Version: 1.0.0
License: GNU General Public License v3.0 (or later)
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Text Domain: kadence-child
*/

/* Theme customization starts here
-------------------------------------------------------------- */
.site-header-row.site-header-row-center-column {
	align-items: center;
}

.site-header-section-center {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.site-header-section-right {
	flex-direction: column;
	align-items: flex-end;
}

@media screen and (max-width: 1024px) {
	.site-header-section-right {
		flex-direction: row;
		align-items: center;
	}
}

@media screen and (max-width: 719px) {

}

.site-branding.branding-layout-vertical.site-title-top a.brand .site-title-wrap {
	display: none;
}

.button.header-button.button-size-small {
	font-size: 90%;
	padding: 0.3em 0;
}

#block-27 p {
	margin: 0;
}

form.footer-form-answer {
	padding: 30px;
	background-color: #fff;
	border-radius: 6px;
	color: #595959;
	
}

form.footer-form-answer h2 {
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
}

form.footer-form-answer .footer-form-content {
	margin-bottom: 15px;
}

form.footer-form-answer .footer-form-fields {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

form.footer-form-answer .footer-form-fields input[type="submit"] {
	padding: 12px 16px;
}

form.footer-form-answer .footer-form-fields .ajax-loader {
	flex: 0 0 100%;
}

form.footer-form-answer .footer-form-fields label {
	font-size: 10px;
}

.kb-form .kadence-blocks-form-field.kb-accept-form-field .kb-checkbox-style {
	margin: 0 0.5rem 0 0;
}

.kb-form .kadence-blocks-form-field.kb-accept-form-field {
	-webkit-align-items: center;
	align-items: center;
}

.kt-adv-heading-vertical-border {
	border-left: 4px solid #E7CF61;
	padding-left: 10px;
	margin-left: -10px;
}

.home-main-slider .kt-blocks-carousel .slick-dots {
	position: absolute;
	bottom: 15px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
	left: 0;
}

.wp-block-kadence-advancedheading.kt-adv-heading_fe888b-03[data-kb-block="kb-adv-heading_fe888b-03"] {
	border-radius: 3px;
	background: linear-gradient(
			-51deg, transparent 98px, #fff 0);
}

.kt-adv-heading_fe888b-03::before {
	content: '';
	
}

.home-column-number-stage {
	position: relative;
}

.home-column-number-stage .home-number-stage {
	align-self: baseline;
}

.home-column-number-stage .home-number-stage-01 {
	left: -25px;
}

.home-column-number-stage .home-number-stage-02 {
	left: 46px;
}

.home-column-number-stage .home-number-stage-03 {
	left: 116px;
}